<!DOCTYPE html>
<head> </head>
<body>
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Educational Background</h3>
          <div class="resume-item">
            <h4>Holy Angel University</h4>
            <h5>January, 2022</h5>
            <p>
              <em
                >Bachelor of Science in Information Technology with area of
                specialization of Web Development</em
              >
            </p>
            <ul>
              <li>Sto. Rosario Street, Angeles City, Pampanga 2009</li>
              <li>887-5478 / 888-8691 / 93 888-2902</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Colegio de Sebastian</h4>
            <h5>2018 - 2020</h5>
            <p><em>Senior High School</em></p>
            <ul>
              <li>MacArthur Highway, San Fernando, Pampanga</li>
              <li>(045) 455-4812; (045) 455-5237</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Pampanga High School</h4>
            <h5>2014 - 2018</h5>
            <p><em>Junior High School</em></p>
            <ul>
              <li>2MJQ+48P, Lourdes, San Fernando, Pampanga</li>
              <li>(045) 961 2239</li>
            </ul>
          </div>
        </div>
        <div
          class="col-lg-6"
          data-aos="fade-up"
          data-aos-delay="100"
          style="padding-left: 100px;"
        >
          <h3 class="resume-title">Achievements</h3>
          <div class="resume-item">
            <h4>Dean's Lister</h4>
            <h5>First Semester 2022</h5>
            <p><em>Academic Award</em></p>
          </div>
          <div class="resume-item">
            <h4>Dean's Lister</h4>
            <h5>Second Semester 2022</h5>
            <p><em>Academic Award</em></p>
          </div>
          <div class="resume-item">
            <h4>Dean's Lister</h4>
            <h5>First Semester 2021</h5>
            <p><em>Academic Award</em></p>
          </div>
          <div class="resume-item">
            <h4>Dean's Lister</h4>
            <h5>Second Semester 2021</h5>
            <p><em>Academic Award</em></p>
          </div>
          <div class="resume-item">
            <h4>Dean's Lister</h4>
            <h5>First Semester 2020</h5>
            <p><em>Academic Award</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
