<section id="facts" class="facts">
  <div class="container">
    <div>
      <h2 class="ds-heading">References</h2>
    </div>

    <div class="row no-gutters">
      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
      >
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <p><strong>Quinny Lacsina</strong></p>
          <p>GUIDANCE COUNSELOR</p>
          <p>097 6017 9186</p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <p><strong>Ryan Joshua Milan</strong></p>
          <p>PROFESSOR</p>
          <p>097 6017 9186</p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <p><strong>Shem Baytan</strong></p>
          <p>DEAN OF SCHOOL OF COMPUTING</p>
          <p>097 6017 9186</p>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="count-box">
          <i class="bi bi-people"></i>
          <p><strong>Noie Manoynoy</strong></p>
          <p>PROFESSOR</p>
          <p>097 6017 9186</p>
        </div>
      </div>
    </div>
  </div>
</section>
