<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Resume</title>
</head>
<body>
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2 class="ds-heading">About</h2>
        <p id="p">
          I'm a Holy Angel University IT student. I'm honest, punctual,
          friendly, and a good listener and communicator. I work well in a team
          and on my own because I set goals I'll attain.
        </p>
      </div>
      <div class="row" data-aos="fade-in">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Birthday:</h4>
              <p>August 19, 2002</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Phone:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Email:</h4>
              <p>Almario.guzmaniii@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Age:</h4>
              <p>20</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Website:</h4>
              <p>www.example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Freelance:</h4>
              <p>Available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
