<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Resume</title>
</head>
<body>
  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">
      <div class="container">
        <section>
          <h2 class="ds-heading">Skills</h2>
          <p class="p">
            When I write code, I typically use HTML, CSS, JavaScript, PHP, Java,
            Wordpress, and Python.
          </p>
        </section>
      </div>

      <p>HTML</p>
      <div class="container">
        <div class="skills html">90%</div>
      </div>

      <p>CSS</p>
      <div class="container">
        <div class="skills css">70%</div>
      </div>

      <p>JavaScript</p>
      <div class="container">
        <div class="skills js">40%</div>
      </div>

      <p>PHP</p>
      <div class="container">
        <div class="skills php">30%</div>
      </div>

      <p>Java</p>
      <div class="container">
        <div class="skills java">40%</div>
      </div>

      <p>Wordpress</p>
      <div class="container">
        <div class="skills wordpress">70%</div>
      </div>

      <p>Python</p>
      <div class="container">
        <div class="skills python">50%</div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->
</body>
