.ds-banner {
  margin-top: 100px;
}
.ds-banner section {
  padding-left: 70px;
  padding-right: 100px;
}
.ds-banner section h1 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 70px;
}
.ds-banner section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #000;
}
#header {
  padding-left: 70px;
  padding-right: 100px;
  padding-top: 90px;
}

/*-----------------------------------------------------------------
  1. >>> Headr Style
----------------------------------------------------------------*/
.ds-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  padding: 50px 0;
}

.ds-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ds-logo {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  color: #000;
  display: flex;
  align-items: center;
}
.ds-logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-right: 12px;
}

.ds-social {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ds-social li {
  margin-left: 12px;
}
.ds-social li:first-child {
  margin-left: 0;
}
.ds-social li a {
  border-radius: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  background-color: #149ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.ds-social li a:hover {
  background-color: #000;
  color: #fff;
}
