<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Resume</title>
</head>
<body>
  <div>
    <header class="ds-header" id="site-header">
      <div class="container">
        <div class="ds-header-inner">
          <a href="index.html" class="ds-logo">
            <span>A</span>Almario Guzman III
          </a>
          <ul class="ds-social">
            <li>
              <a href="#" target="_blank"></a>
            </li>
            <li>
              <a href="#" target="_blank"></a>
            </li>
            <li>
              <a href="#" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="ds-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <figure>
            <img
              src="https://stackblitz.com/files/github-lgbcab/github/bxste/angular-cv-2135-amg/main/pictures/header2.png"
              class="rounded mx-auto d-block"
              alt="..."
              id="header"
            />
          </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
          <section>
            <h1>
              <span>HI THERE</span>
              I’m Almario Guzman III <br />
              Web Development Student.
            </h1>
          </section>
        </div>
      </div>
    </div>
  </div>

  <app-about></app-about>
  <app-skills></app-skills>
  <app-education></app-education>
  <app-references></app-references>
</body>
